<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" href="/style.css" />

    <link
      href="https://fonts.googleapis.com/css?family=Anton|Libre+Franklin&display=swap"
      rel="stylesheet"
    />

    <title>Document</title>
  </head>
  <body>
    <h1>Search engine</h1>
    <div class="container">
      <form>
        <input type="text" name="keyword" id="keyword" />
        <input type="button" name="searchButton" id="searchButton" />
        <input type="button" name="randomButton" id="randomButton" />
      </form>
    </div>

    <script src="/main.js"></script>
  </body>
</html>
