body {
  display: block;
  padding-top: 20px;
}
.container-search-header {
  display: flex;
  padding: 10px 40px;
  justify-content: space-around;
  align-items: center;
}
h2 {
  font-family: "Anton", sans-serif;
  font-size: 40px;
}

.logo-container > * {
  display: inline;
  padding-right: 10px;
}
.container-results {
  text-align: left;
  padding: 10px 40px;
  width: 60%;
  margin: auto;
  padding-bottom: 25px;
}
.result-heading,
.result-url,
.result-description {
  padding-bottom: 10px;
}
.result-heading > a {
  color: #16aee0;
}
.result-url > a {
  color: green;
}

#btn {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: #a60400;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 6px;

}

#btn:hover {
  background-color: rgb(80, 89, 99);
}
