* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Libre Franklin", sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: "Anton", sans-serif;
  font-size: 60px;
}

.logo {
  color: #a60400;
}

input[type="text"] {
  border-radius: 12px;
  width: 350px;
  height: 30px;
  border: gray 1px solid;
  box-shadow: 0 0 5px #999999;
  padding: 15px 20px;
}

<<<<<<< HEAD
input[type="button"], input[type="submit"] {
=======
input[type="button"],
input[type="submit"] {
>>>>>>> d02449c990f648e71b34098ec0d265f45dbcd4e3
  padding: 8px 15px;
  font-weight: bold;
  background: #bce4f5;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}

<<<<<<< HEAD
input[type="button"]:hover, input[type="submit"]:hover {
=======
input[type="button"]:hover,
input[type="submit"]:hover {
>>>>>>> d02449c990f648e71b34098ec0d265f45dbcd4e3
  color: white;
  background: #546a6b;
}

fieldset {
  border: 0;
  padding: 15px;
}
